input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #333 !important;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

