name: Vercel Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Deploy
        run: |
          curl -v --fail -X POST "${{ secrets.VERCEL_DEPLOY_HOOK }}"
